<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="db" connectionString="mongodb://dragon:breath@ds029287.mongolab.com:29287/dragons"/> <!-- read-only account -->
  </connectionStrings>
</configuration>
